{% extends "registration/registration_base.html" %}
{% load i18n static %}
{% load tailwind_filters %}
{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
<section class="flex items-center justify-center min-h-screen bg-gradient-to-b from-green-500 to-green-700">
    <div class="bg-white w-full max-w-sm p-6 rounded-lg shadow-lg">
        <div class="flex justify-center mb-6">
            <img alt="Logo" class="w-16 h-16" src="{% static 'images/logo.png' %}">
        </div>
        <h2 class="text-2xl font-semibold text-center mb-2">Login</h2>
        <p class="text-center text-gray-600 mb-6">"Please enter your login details below to access your account."</p>

        <form action="{% url 'auth_login' %}" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="flex items-center justify-between mb-6">
                <a class="text-sm text-green-600 hover:text-green-700" href="{% url 'auth_password_reset' %}">Forgot
                    password?</a>
            </div>

            <input class="w-full bg-green-600 hover:bg-green-700 text-white font-semibold py-2 rounded-lg mb-4"
                   type="submit"
                   value="Login">
            <input name="next" type="hidden" value="{{ next }}"/>
            <p class="text-center text-gray-600 mt-6">
                Don’t have an account? <a class="text-green-600 hover:text-green-700 font-semibold"
                                          href="{% url 'registration_register' %}">Sign up</a>
            </p>
        </form>
    </div>
</section>

{% endblock %}

{% comment %}
**registration/login.html**

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
A Form object representing the login form. See the forms
documentation for more on Form objects.

``next``
The URL to redirect to after successful login. This may contain a
query string, too.

``site``
The current Site, according to the SITE_ID setting. If you don't
have the site framework installed, this will be set to an instance
of RequestSite, which derives the site name and domain from the
current HttpRequest.

``site_name``
An alias for site.name. If you don't have the site framework
installed, this will be set to the value of
request.META['SERVER_NAME']. For more on sites, see The
"sites" framework.
{% endcomment %}
