{% extends "registration/registration_base.html" %}
{% load i18n tailwind_filters %}

{% block title %}{% trans "Reset Password" %}{% endblock %}

{% block content %}
<div class="max-w-lg mx-auto p-6 bg-white shadow-md rounded-md">
  <p class="text-gray-700 mb-4">
    {% blocktrans %}
    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
    {% endblocktrans %}
  </p>

  <form method="post" action="" class="space-y-4">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md">
      {% trans 'Reset Password' %}
    </button>
  </form>
</div>
{% endblock %}
