{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Resend Activation Email" %}{% endblock %}

{% block content %}
<div class="max-w-md mx-auto p-6 bg-white shadow-md rounded-md">
  <h2 class="text-2xl font-semibold text-gray-800 mb-6 text-center">
    {% trans "Resend Activation Email" %}
  </h2>
  <form method="post" action="">
      {% csrf_token %}
      <div class="mb-4">
        {{ form | crispy }}
      </div>
      <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">
        {% trans 'Submit' %}
      </button>
  </form>
</div>
{% endblock %}
